/*------------*/
/*fonts*/
/*------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*------------*/
/*reset*/
/*------------*/
*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}
/*------------*/
/*fonts*/
/*------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*------------*/
/*variables*/
/*------------*/
:root {
    --color1: #0009;
    --color2: rgba(218, 193, 193, 0.6);
    --font-fm: Poppins, sans-serif;
}
/*------------*/
/*general*/
/*------------*/
body {
    align-items: center;
    color: var(--color-1);
    display: flex;
    font-family: var(--font-fim);
    justify-content: center;
    min-height: 100vh;
    main {
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            h1 {
                font-size: 4.5rem;
                font-weight: 400;
            }
            h2 {
                font-size: 2rem;
                font-weight: 200;
                border-bottom: 4px solid var(--color-1);
            }
            h3 {
                border-radius: 20px;
                background-color: var(--color-1);
                color: var(--color-2);
                font-weight: 500;
                padding: 8px 20px;
            }
            img {
                border-radius: 100px;
                object-fit: cover;
                border: 10px solid var(--color-2);
                width: 200px;
            }
        }
        menu {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            margin-top: 2rem;
            a:is(:link, :visited) {
                align-items: center;
                background: white;
                border-radius: 4px;
                color: var(--color-1);
                display: flex;
                justify-content: start;
                text-decoration: none;
                gap: 0.6rem;
                transition: all 0.4s ease-in;
                width: 280px;
                span {
                    border-radius: 4px 0 0 4px;
                    background-color: orange;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    color: var(--color-2);
                    transition: all 0.4s ease-in;
                    height: 40px;
                    width: 40px;
                }
            }
            a:is(:hover) {
                background-color: rgb(236, 186, 236);
            }
            a:is(:hover) span {
                width: 60px;
            }
        }
    }
}
/*------------*/
/*main menu*/
/*------------*/
body.mmenu {
    background-color: #8222A3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23ffa61d'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}